name: Build Kivy APK

on:
  push:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Run Buildozer
        uses: kivy/buildozer-action@v2
        with:
          python-version: 3.11
          requirements: python3,kivy
          target: android